LOCATE      COMP "CLK" SITE "P3";
IOBUF       PORT "CLK" IO_TYPE=LVCMOS33;
FREQUENCY   PORT "CLK" 25 MHZ;

# This pinout assumes a ribbon cable IS used and the PMOD is
# connected through an IDC ribbon to the dev board.

LOCATE COMP "PMOD_P2A_MCLK"    SITE "K18"; # IO4
LOCATE COMP "PMOD_P2A_PDN"     SITE "T18"; # IO3
LOCATE COMP "PMOD_P2A_I2C_SDA" SITE "R17"; # IO2
LOCATE COMP "PMOD_P2A_I2C_SCL" SITE "M17"; # IO1
LOCATE COMP "PMOD_P2A_SDIN1"   SITE "P17"; # IO5
LOCATE COMP "PMOD_P2A_SDOUT1"  SITE "R18"; # IO6
LOCATE COMP "PMOD_P2A_LRCK"    SITE "C18"; # IO7
LOCATE COMP "PMOD_P2A_BICK"    SITE "U16"; # IO8

LOCATE COMP "PMOD_P2B_MCLK"    SITE "N18"; # IO4
LOCATE COMP "PMOD_P2B_PDN"     SITE "L20"; # IO3
LOCATE COMP "PMOD_P2B_I2C_SDA" SITE "K20"; # IO2
LOCATE COMP "PMOD_P2B_I2C_SCL" SITE "G20"; # IO1
LOCATE COMP "PMOD_P2B_SDIN1"   SITE "J20"; # IO5
LOCATE COMP "PMOD_P2B_SDOUT1"  SITE "L18"; # IO6
LOCATE COMP "PMOD_P2B_LRCK"    SITE "M18"; # IO7
LOCATE COMP "PMOD_P2B_BICK"    SITE "N17"; # IO8

LOCATE COMP "PMOD_P3A_MCLK"    SITE "D20"; # IO4
LOCATE COMP "PMOD_P3A_PDN"     SITE "B19"; # IO3
LOCATE COMP "PMOD_P3A_I2C_SDA" SITE "A19"; # IO2
LOCATE COMP "PMOD_P3A_I2C_SCL" SITE "A18"; # IO1
LOCATE COMP "PMOD_P3A_SDIN1"   SITE "C17"; # IO5
LOCATE COMP "PMOD_P3A_SDOUT1"  SITE "B18"; # IO6
LOCATE COMP "PMOD_P3A_LRCK"    SITE "B20"; # IO7
LOCATE COMP "PMOD_P3A_BICK"    SITE "F20"; # IO8

LOCATE COMP "PMOD_P3B_MCLK"    SITE "A3";  # IO4
LOCATE COMP "PMOD_P3B_PDN"     SITE "B1";  # IO3
LOCATE COMP "PMOD_P3B_I2C_SDA" SITE "D2";  # IO2
LOCATE COMP "PMOD_P3B_I2C_SCL" SITE "E2";  # IO1
LOCATE COMP "PMOD_P3B_SDIN1"   SITE "D1";  # IO5
LOCATE COMP "PMOD_P3B_SDOUT1"  SITE "C1";  # IO6
LOCATE COMP "PMOD_P3B_LRCK"    SITE "C2";  # IO7
LOCATE COMP "PMOD_P3B_BICK"    SITE "E3";  # IO8

IOBUF  PORT "PMOD_P2A_MCLK" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P2A_PDN" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P2A_I2C_SDA" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P2A_I2C_SCL" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P2A_SDIN1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P2A_SDOUT1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P2A_LRCK" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P2A_BICK" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

IOBUF  PORT "PMOD_P2B_MCLK" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P2B_PDN" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P2B_I2C_SDA" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P2B_I2C_SCL" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P2B_SDIN1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P2B_SDOUT1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P2B_LRCK" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P2B_BICK" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

IOBUF  PORT "PMOD_P3A_MCLK" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P3A_PDN" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P3A_I2C_SDA" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P3A_I2C_SCL" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P3A_SDIN1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P3A_SDOUT1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P3A_LRCK" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P3A_BICK" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

IOBUF  PORT "PMOD_P3B_MCLK" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P3B_PDN" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P3B_I2C_SDA" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P3B_I2C_SCL" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P3B_SDIN1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P3B_SDOUT1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P3B_LRCK" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P3B_BICK" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# This pad is PMOD_P6A_IO7
LOCATE COMP "RESET_BUTTON" SITE "W1";
IOBUF  PORT "RESET_BUTTON" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# This is connected to the STM32 on the Colorlight development board.
LOCATE COMP "UART_TX" SITE "J17";
IOBUF  PORT "UART_TX" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
