LOCATE      COMP "CLK" SITE "P3";
IOBUF       PORT "CLK" IO_TYPE=LVCMOS33;
FREQUENCY   PORT "CLK" 25 MHZ;

# This pinout assumes a ribbon cable IS used and the PMOD is
# connected through an IDC ribbon to the dev board.

# These pads are PMOD_P2A
LOCATE COMP "PMOD_MCLK"    SITE "K18";
LOCATE COMP "PMOD_PDN"     SITE "T18";
LOCATE COMP "PMOD_I2C_SDA" SITE "R17";
LOCATE COMP "PMOD_I2C_SCL" SITE "M17";
LOCATE COMP "PMOD_SDIN1"   SITE "P17";
LOCATE COMP "PMOD_SDOUT1"  SITE "R18";
LOCATE COMP "PMOD_LRCK"    SITE "C18";
LOCATE COMP "PMOD_BICK"    SITE "U16";

IOBUF  PORT "PMOD_MCLK" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_PDN" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_I2C_SDA" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_I2C_SCL" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_SDIN1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_SDOUT1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_LRCK" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_BICK" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# This pad is PMOD_P2B_IO7
LOCATE COMP "RESET_BUTTON" SITE "M18";
IOBUF  PORT "RESET_BUTTON" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# This is connected to the STM32 on the Colorlight development board.
LOCATE COMP "UART_TX" SITE "J17";
IOBUF  PORT "UART_TX" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
