SYSCONFIG COMPRESS_CONFIG=ON;

LOCATE      COMP "CLK" SITE "K23";
IOBUF       PORT "CLK" IO_TYPE=LVCMOS33;
FREQUENCY   PORT "CLK" 100 MHZ;

# This pinout assumes a ribbon cable IS used and the PMOD is
# connected through an IDC ribbon to the dev board.

# These pads are PMOD_P0
LOCATE COMP "PMOD_MCLK"    SITE "W26";
LOCATE COMP "PMOD_PDN"     SITE "V26";
LOCATE COMP "PMOD_I2C_SDA" SITE "U26";
LOCATE COMP "PMOD_I2C_SCL" SITE "T26";
LOCATE COMP "PMOD_SDIN1"   SITE "T25";
LOCATE COMP "PMOD_SDOUT1"  SITE "U25";
LOCATE COMP "PMOD_LRCK"    SITE "U24";
LOCATE COMP "PMOD_BICK"    SITE "V24";

IOBUF  PORT "PMOD_MCLK" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_PDN" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_I2C_SDA" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_I2C_SCL" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_SDIN1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_SDOUT1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_LRCK" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_BICK" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# This pad is the reset pin of the ECP5
LOCATE COMP "RESET_BUTTON" SITE "N5";
IOBUF  PORT "RESET_BUTTON" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# This is connected to the FTDI debugging chip.
LOCATE COMP "UART_TX" SITE "R24";
IOBUF  PORT "UART_TX" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
