LOCATE      COMP "CLK" SITE "P3";
IOBUF       PORT "CLK" IO_TYPE=LVCMOS33;
FREQUENCY   PORT "CLK" 25 MHZ;

LOCATE COMP "PMOD_P2A_IO4" SITE "K18";
LOCATE COMP "PMOD_P2A_IO3" SITE "T18";
LOCATE COMP "PMOD_P2A_IO2" SITE "R17";
LOCATE COMP "PMOD_P2A_IO1" SITE "M17";
LOCATE COMP "PMOD_P2A_IO5" SITE "P17";
LOCATE COMP "PMOD_P2A_IO6" SITE "R18";
LOCATE COMP "PMOD_P2A_IO7" SITE "C18";
LOCATE COMP "PMOD_P2A_IO8" SITE "U16";

IOBUF  PORT "PMOD_P2A_IO4" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P2A_IO3" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P2A_IO2" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P2A_IO1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P2A_IO5" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P2A_IO6" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P2A_IO7" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_P2A_IO8" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;


LOCATE COMP "PMOD_P2B_IO7" SITE "M18";
IOBUF  PORT "PMOD_P2B_IO7" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;


LOCATE COMP "UART_TX" SITE "J17";
IOBUF  PORT "UART_TX" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
