SYSCONFIG COMPRESS_CONFIG=ON;

LOCATE      COMP "CLK" SITE "A8";
IOBUF       PORT "CLK" IO_TYPE=LVCMOS33;
FREQUENCY   PORT "CLK" 48 MHZ;

# These pads are to the eurorack-pmod 'backpack' FFC.
LOCATE COMP "PMOD_MCLK"    SITE "B11";
LOCATE COMP "PMOD_PDN"     SITE "C11";
LOCATE COMP "PMOD_I2C_SDA" SITE "D13";
LOCATE COMP "PMOD_I2C_SCL" SITE "C13";
LOCATE COMP "PMOD_SDIN1"   SITE "D8";
LOCATE COMP "PMOD_SDOUT1"  SITE "C9";
LOCATE COMP "PMOD_LRCK"    SITE "C10";
LOCATE COMP "PMOD_BICK"    SITE "D9";

IOBUF  PORT "PMOD_MCLK" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_PDN" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_I2C_SDA" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_I2C_SCL" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_SDIN1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_SDOUT1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_LRCK" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "PMOD_BICK" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# This is the Tiliqua encoder switch.
LOCATE COMP "RESET_BUTTON" SITE "D7";
IOBUF  PORT "RESET_BUTTON" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# This is connected to the Tiliqua RP2040 debugger.
LOCATE COMP "UART_TX" SITE "B4";
IOBUF  PORT "UART_TX" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
